<nav class="main-navigation">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/" class="nav-logo">
      <img src="{{ site.baseurl }}/assets/aml_lab_tight.png" alt="AML Lab Logo">
    </a>
    <ul class="nav-menu">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/team">Team</a></li>
      <li class="dropdown">
        <a href="{{ site.baseurl }}/research/" class="dropbtn">Research</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/research/">Overview</a>
          <!-- <a href="{{ site.baseurl }}/research/">Hybrid ML</a>
          <a href="{{ site.baseurl }}/research/">Text Mining</a>
          <a href="{{ site.baseurl }}/research/">Medical & Life Science</a>

          <a href="{{ site.baseurl }}/research/">Behavioral Analytics</a>
          <a href="{{ site.baseurl }}/research/publications">Publications</a> -->
        </div>
      </li>
      <li class="dropdown">
        <a href="{{ site.baseurl }}/teaching/" class="dropbtn">Teaching</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/teaching/">Courses Overview</a>
          <a href="{{ site.baseurl }}/teaching/ilsds25/">ILSDS (WS 25)</a>
          <a href="{{ site.baseurl }}/teaching/mmdi25/">MMD1 (WS 25)</a>
          <a href="{{ site.baseurl }}/teaching/theses">Theses</a>
        </div>
      </li>

      <li class="dropdown">
        <a href="#" class="dropbtn">Workshops & Special Sessions</a>
        <div class="dropdown-content">
          <a href="{{ site.baseurl }}/wllfm2025/">WLLFM2025 (Bigdata 2025)</a>
          <a href="{{ site.baseurl }}/ssllfm2025/">SSLLFM2025 (DSAA 2025)</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
